kind: Namespace
apiVersion: v1
metadata:
  name: toolchain-che
  labels:
    network.openshift.io/policy-group: ingress
spec: {}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: toolchain-che
  namespace: toolchain-che
spec:
  targetNamespaces:
    - toolchain-che
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: eclipse-che
  namespace: toolchain-che
spec:
  channel: stable
  installPlanApproval: Automatic
  name: eclipse-che
  source: community-operators
  sourceNamespace: openshift-marketplace
  startingCSV: eclipse-che.v7.12.0