apiVersion: org.eclipse.che/v1
kind: CheCluster
metadata:
  name: codeready-workspaces
  namespace: workspaces
spec:
  auth:
    externalIdentityProvider: false
    openShiftoAuth: true
  database:
    externalDb: false
  metrics:
    enable: true
  server:
    customCheProperties:
      CHE_INFRA_KUBERNETES_NAMESPACE_DEFAULT: <username>-code
      CHE_WORKSPACE_DEFAULT__CPU__LIMIT__CORES: '0.4'
      CHE_WORKSPACE_DEFAULT__CPU__REQUEST__CORES: '0.03'
      CHE_WORKSPACE_SIDECAR_DEFAULT__CPU__LIMIT__CORES: '0.4'
      CHE_WORKSPACE_SIDECAR_DEFAULT__CPU__REQUEST__CORES: '0.03'
      CHE_WORKSPACE_STOP_ROLE_ENABLED: 'true'
    selfSignedCert: false
    serverExposureStrategy: 'single-host'
    tlsSupport: true
    allowUserDefinedWorkspaceNamespaces: false
    cheFlavor: codeready-workspaces
  storage:
    preCreateSubPaths: true
    pvcClaimSize: 10Gi
    pvcStrategy: common
